.app {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}

.heading {
  font-size: 32px;
}

.buttons {
  height: 200px;
  width: 230px;
  margin-top: 10px;
  float: left;
  background-color: #d6d6d6;
  border-radius: 10px;
}

.add, .sub, .clear, .set, .reset{
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.add:hover, .sub:hover, .clear:hover, .set:hover, .reset:hover {
  background-color: aliceblue;
  transition: 300ms;
}

.add {
  background-color: #a182ed;
}

.sub {
  background-color: #f09684;
}

.clear {
  background-color: #84f08f;
}

.set {
  background-color: #8492f0;
}

.reset {
  background-color: #ff4242;
}



#name_input {
  font-size: 16px;
}

#name_input {
  outline: none;
}

.record_container {
  width: 290px;
  border-radius: 10px;
  margin-right: 100px;
  margin-top: 220px;
  background-color: white;
  padding: 10px;
  color: black;
}

.record_title {
  font-size: 20px;
  margin-left: 10px;
}

.p {
  font-size: 10px;
}

.name, .count {
  margin-left: 10px;
}

.record {
  border-radius: 10px 0px 0px 10px;
  width: 250px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #8492f0;
}

.delete_option {
  float: right;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: red;
  color: white;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  margin-top: -82px;
}

.delete_option:hover {
  background-color: gray;
  color: black;
  transition: 300ms;
}