.app {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}

.heading {
  font-size: 32px;
}

.buttons {
  height: 130px;
  width: 230px;
  margin-top: 10px;
  float: left;
  background-color: #d6d6d6;
  border-radius: 10px;
}

.add, .sub, .clear, .set {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.add {
  background-color: #a182ed;
}

.sub {
  background-color: #f09684;
}

.clear {
  background-color: #84f08f;
}

.set {
  background-color: #8492f0;
}

.add:hover, .sub:hover, .clear:hover, .set:hover {
  background-color: aliceblue;
  transition: 300ms;
}

#name_input {
  font-size: 16px;
}

#name_input {
  outline: none;
}


.record_container {
  height: 150px;
  width: 300px;
  margin-top: 150px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.record_container {
  background-color: white;
  height: 600px;
  width: 300px;
  border-radius: 10px;
  margin-right: 100px;
}

.record_title {
  font-size: 20px;
  margin-left: 10px;
}

.p {
  font-size: 10px;
}

.name, .count {
  margin-left: 10px;
}

.record {
  border-radius: 10px;
  width: 250px;
  margin-left: 25px;
  margin-top: 10px;
  border: 1px solid black;
  background-color: #8492f0;
}
